section(data-ng-controller="UserProfileController")
  h3 {{ 'USERPROFILE_CHANGEPASSWORD.TITLE' | translate }}
  include messages
  form(data-ng-submit="changePassword();", data-ng-init="initChangePassword();")
    div.row
      div.input-field.s12.m12.col
        i.material-icons.prefix lock
        input(id="current-password", name="current-password", type="password", data-ng-model="currentPassword")
        label(for="current-password") {{ 'USERPROFILE_CHANGEPASSWORD.PASSWORD_LABEL' | translate }}
    include ./passwordWidget
    div.row
      div.col.s4.offset-s1
        input.btn.waves-effect.waves-light(type="submit", data-ng-value="'USERPROFILE_CHANGEPASSWORD.SUBMIT_LABEL' | translate", data-ng-disabled="!validate()")
      div.col.s4.offset-s2
        a.btn.waves-effect.waves-light(href="/#!/profile") {{ 'USERPROFILE_CHANGEPASSWORD.CANCEL_LABEL' | translate }}
