h3 Hello, TXDL Service Worker!

h5 Documents to Process
div(data-ng-controller='ServiceController as ctrl', data-ng-init="ctrl.init()")
  table
    tr
      th Filename
      th Format
      th File Size
      th Sig
      th Actions
    tr(data-ng-repeat="doc in ctrl.unverifiedDocs")
      td 
        a(data-ng-href="/documents/{{doc._id}}") {{doc.filename}}
      td {{doc.format}}
      td {{doc.binarySize}}
      td {{doc.signature}}
      td
        a(data-ng-click="ctrl.generateSignature(doc)")
          i.material-icons fingerprint
        a(data-ng-click="ctrl.verify(doc)")
          i.material-icons verified_user
