extends layout

block content
	if user
		div.container
			section(ng-view)
	else
		// No user logged in.
		div.container
			include messages
			include loginForm
			h3 {{'INDEX.SIGNUP' | translate}}
			include signupForm
